body{
    margin: 0px;
    padding: 0px;
}

.bottom{
    margin: 0px;
    padding: 0px;

    height: 50vh;
    width: 100%;

    display: flex;
    flex-direction: row;

    background-color: black;
}

.firstColumn{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 33vw;

    justify-content: center;
    align-content: center;
}

.secondColumn{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 33vw;

    justify-content: center;
    align-content: center;
}

.thirdColumn{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 33vw;

    justify-content: center;
    align-content: center;
}

.instagram{
    color: rgb(0, 0, 0);

    position: absolute;
    left: 10rem;
    top: 2.8rem;

    font-family: sans-serif;
    font-size: 3rem;
}

.ring{
    color: rgb(0, 0, 0);

    position: absolute;
    left: 11rem;
    top: 9.3rem;

    font-family: sans-serif;
    font-size: 3rem;
}

.lordOfRings{
    color: rgb(0, 0, 0);

    position: absolute;
    left: 8rem;
    top: 17.5rem;

    font-family: sans-serif;
    font-size: 1.5rem;
}

.hercules{
    color: rgb(0, 0, 0);

    position: absolute;
    left: 41rem;
    top: 2.5rem;

    font-family: sans-serif;
    font-size: 3rem;
}

.bambi{
    color: rgb(0, 0, 0);

    position: absolute;
    left: 43rem;
    top: 8rem;

    font-family: sans-serif;
    font-size: 3rem;
}

.facebook{
    color: rgb(0, 0, 0);

    position: absolute;
    left: 40rem;
    top: 14.5rem;

    font-family: sans-serif;
    font-size: 3rem;
}

.rango{
    color: rgb(0, 0, 0);

    position: absolute;
    left: 73rem;
    top: 2.5rem;

    font-family: sans-serif;
    font-size: 3rem;
}

.phone{
    color: rgb(0, 0, 0);

    position: absolute;
    left: 70rem;
    top: 11rem;

    font-family: sans-serif;
    font-size: 2rem;
}

.cars{
    color: rgb(0, 0, 0);

    position: absolute;
    left: 73rem;
    top: 15.5rem;

    font-family: sans-serif;
    font-size: 3rem;
}